@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

:root{
  --text-color: white;
  --cor-borda: rgb(255, 255, 255, 0.412);
  --bg_url: url(assets/bg-mobile.jpg);
  --switch-btn: url(assets/moon-stars.svg)
}

.modo-branco{
  --text-color: black;
  --bg_url: url(assets/bg-mobile-light.jpg);
  --cor-borda: rgba(35, 8, 58, 0.412);
  --switch-btn: url(assets/sun.svg)
}

body{
  background: var(--bg_url) no-repeat top center/cover;
}

#container{
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile{
  text-align: center;
  padding: 24px;
}

#profile img{/*em objetos "inline" o "margin auto" sozinho não funciona, aí tem que transformar em "display block"*/
  width: 120px;
}

#switch{
  position: relative;
  width: 64px;
  margin: auto;
  cursor: pointer;
}

#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-btn) no-repeat center;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.modo-branco #switch button{
  right: 0;
  left: initial;
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: rgb(189, 136, 242);
  border: var(--cor-borda);
  border-radius: 9999px;
}

p.arroba{
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 8px;
}

ul{
  list-style: none;
  border-radius: 7px;
  padding: 20px;
}

li{
  padding: 15px;
}

ul a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.093);
  border: 2px solid var(--cor-borda);
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  padding: 15px;

  transition: .3s ease;
}

ul a:hover{
  background-color: rgb(203, 174, 224);
  color: rgb(9, 3, 34);
  font-size: 19px;

  transition: .3s ease;
}

div.sociais{
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.sociais a{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 40px;
  color: white;

  transition: .2s ease;
}

.sociais a:hover{
  color: crimson;
  font-size: 45px;

  transition: .2s ease;
}

footer{
  color: var(--text-color);
  text-align: center;
  padding: 10px;
}

span{
  color: rgb(173, 95, 229);
}